# Ignore virtual environment directories
**/venv/


# Ignore Django migrations
**/migrations/

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Django database files
*.sqlite3

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
*.__pycache__/